body {
  background: #5d5050;
  font-size: 14px;
  font-family: Arial, sans-serif;
  height: 100%;
}

img.logo {
  height: 175px;
  width: 175px;
  border: 1px solid #000000;
  float: left; /* Ensure the image floats to the left */
  margin-right: 20px; /* Add some space between the image and the content */
  margin-bottom: 20px; /* Add vertical space between the image and the button */
}

.headerlabel {
  text-align: center;
  border: 1px solid #fff;
  background: #232323;
  margin-left: 207px;
  margin-right: auto;
  color: #ffcf27;
  display: inline-block;
  padding: 5px;
  margin-top: 20px; /* Reduce space between text and top edge of the box */
  margin-bottom: 20px; /* Reduce space between text and bottom edge of the box */
}

.reset-button {
  position: absolute;
  left: 55px;
  top: 200px;
  background: #232323;
  color: #ffcf27;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
  width: 80px;
}

.content {
  margin-left: 200px;
}

.tribute-image {
  height: 90px;
  width: 90px;
  /*border: 1px solid #000;*/
}

.reaping table {
  border-collapse: collapse;
}

.reaping td {
  /*border: 1px solid #000;*/
  padding: 5px;
  text-align: center;
}

.tribute-name {
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  font-family: arial;
  text-align: center;
  word-wrap: break-word;
}

.proceed-button {
  display: block;
  margin-left: 455px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #fff;
  width: 80px;
  background: #232323;
  color: #ffcf27;
}

.district-name {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: arial;
  text-align: center;
  word-wrap: break-word;
}

.bloodbath {
  margin-left: 200px;
  text-align: center;
  width: 660px;
  position: absolute;
  margin-top: -58px;
  left: 170px;
  float: left;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  padding: 5px;
}

.bloodbathlabel {
  text-align: center;
  border: 1px solid #fff;
  background: #232323;
  margin-left: 0px;
  margin-right: auto;
  color: #ffcf27;
  display: inline-block;
  padding: 5px;
  margin-top: 60px; /* Reduce space between text and top edge of the box */
  margin-bottom: 20px; /* Reduce space between text and bottom edge of the box */
}

.begin-button {
  display: block;
  margin-left: 290px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #fff;
  width: 80px;
  background: #232323;
  color: #ffcf27;
}

strong {
  font-weight: bold;
  color: rgb(251, 130, 0);
}

.feastlabel {
  text-align: center;
  border: 1px solid #fff;
  background: #232323;
  margin-left: 0px;
  margin-right: auto;
  color: #ffcf27;
  display: inline-block;
  padding: 5px;
  margin-top: 0px; /* Reduce space between text and top edge of the box */
  margin-bottom: 20px; /* Reduce space between text and bottom edge of the box */
}